<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>API de Livros</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>API de Livros</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <h2>Explore a nossa coleção de livros</h2>
            <p>Encontre informações detalhadas sobre uma variedade de livros, de diferentes gêneros e autores.</p>
            <p>Utilize a API para buscar livros e mais detalhes para enriquecer sua experiência de leitura.</p>
        </div>
    </main>
</body>
</html>
